.box {
  width: 50rem;
  margin: 0 auto;
}

.page-title {
  margin-bottom: 1.75rem;
}

.recruit-panel {
  margin-bottom: 1.25rem;
}

.recruit-panel:last-child {
  margin: 0;
}

.subtitle {
  margin-bottom: 3.5rem;
  margin-top: 1rem;
  font-size: 1.75rem;
  text-align: center;
}

.recruitment-mission-contour {
  margin: 1.625rem 0;
  border: none;
  border-top: 1.5px solid var(--gray-002);
}

.application-category {
  margin-bottom: 1rem;
  color: var(--gray-004);
  font-size: 1.25rem;
  font-weight: bold;
}
