.box {
  width: 50rem;
  margin: 0 auto;
}

.page-title {
  margin-bottom: 1.75rem;
}

.recruit-panel {
  margin-bottom: 1.25rem;
}

.recruit-panel:last-child {
  margin: 0;
}

.subtitle {
  font-size: 1.75rem;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
  text-align: center;
}

.hr {
  margin: 1.625rem 0;
  border: none;

  border-top: 1.5px solid var(--gray-002);
}

.mission-recruit-item {
  margin-bottom: 1.25rem;
}

.application-category {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--gray-004);
  margin-bottom: 1rem;
}
