.detail-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 0.875rem;
  word-break: break-all;
}

.guide-container {
  display: flex;
  gap: 0.25rem;
  margin-left: auto;
  color: var(--gray-700);
  font-size: 0.815rem;
}
