.text-input {
  padding: 9px 16px;
  border: 1px solid var(--gray-007);
  border-radius: 4px;
  transition-duration: 0.5s;
  font-size: 16px;
}

.text-input:focus {
  border: 1px solid var(--blue);
}

.text-input:read-only {
  cursor: default;
  background: var(--gray-004);
}
