.text-input {
  padding: 0.625rem 0.875rem;
  border: 1px solid var(--gray-005);
  border-radius: 0.25rem;
  transition-duration: 0.5s;
  font-size: 1rem;
}

.text-input:focus {
  border: 1px solid var(--blue);
}

.text-input:read-only,
.text-input:disabled {
  cursor: default;
  background: var(--gray-003);
}
