@media screen and (min-width: 513px) {
  textarea {
    min-height: 200px !important;
  }
}

.text-input {
  padding: 12px;
  border: 1px solid var(--gray-006);
  border-radius: 4px;
  transition-duration: 0.5s;
  line-height: 30px;
  font-size: 16px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
}
