.title {
  font-size: 26px;
  font-weight: bold;
}

.date {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--gray-700);
}

@media screen and (max-width: 512px) {
  .date {
    gap: 4px;
    font-size: 14px;
  }

  .icon {
    width: 16px;
  }
}
