.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.recruitment {
  width: var(--pc-main-width-narrow);
}

.summary {
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 16px;
}

.buttons button {
  flex: 1;
}
