.box {
  margin-bottom: 1rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.375rem;
}

.input {
  width: 100%;
  height: 2.5rem;
  padding: 0 0.875rem;
  font-size: 1rem;
  border: 1px solid var(--gray-500);
  border-radius: 0.25rem;
}

.input:read-only {
  background-color: var(--gray-300);
}

.rule-field {
  margin: 0.2rem 0.5rem 0;
  height: 0.75rem;
  font-size: 0.75rem;
  color: var(--red);
}
