.tab {
  position: fixed;
  top: 5.75rem;
  left: 0;
  right: 0;
  width: 100%;
  height: 3.625rem;
  background-color: var(--white);
  box-shadow: 0 2px 4px 0 #00000015;
  z-index: var(--nav-z-index);
}

.tab-list {
  width: 100%;
  max-width: var(--pc-main-width);
  height: inherit;
  display: flex;
  align-items: center;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
}

.tab-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  flex: 1;
}

.tab-item.active {
  position: relative;
}

.tab-item.active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0.25rem;
  background-color: var(--black);
}

.tab-item a {
  text-decoration: none;
  color: var(--gray-006);
}

.active a {
  color: var(--black);
  font-weight: bold;
}

.recruitment-list-box {
  width: var(--pc-main-width);
  margin: 3.625rem auto 0;
}

.recruitment-list {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.empty-state-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;

  font-size: 2rem;
  font-weight: 700;
  color: var(--gray-005);
}

@media screen and (max-width: 800px) {
  .tab-item {
    font-size: 0.875rem;
  }

  .recruitment-list-box {
    width: calc(100vw - 1rem);
    margin-top: 3.625rem;
  }
}
