.recruits {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.tab-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px;
  overflow-x: auto;
  white-space: nowrap;
}

.tab-item {
  margin-right: 15px;
  font-weight: bold;
}

.tab-item.active {
  color: #333;
}

.tab-item a {
  text-decoration: none;
  color: #aaa;
}

.tab-item a.active {
  color: #333;
}

.recruitment-list {
  width: var(--pc-main-width);
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}
