.radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

input[type="radio"]::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 3px solid #ced6e0;
  background: #fff;
  margin-right: 5px;
  transition-duration: 0.2s;
}

input[type="radio"]:checked::before {
  background: #0078ff;
  border: 3px solid #d8e0ea;
  color: #fff;
}
