.radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 0.625rem;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

input[type="radio"]::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 1.25rem;
  border: 3px solid var(--gray-004);
  background: var(--white);
  margin-right: 0.25rem;
  transition-duration: 0.2s;
}

input[type="radio"]:checked::before {
  background: var(--black);
}
