.radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

input[type="radio"] {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
}

input[type="radio"] + .custom-radio {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 1.25rem;
  border: 3px solid var(--gray-004);
  background: var(--white);
  margin-right: 0.25rem;
  transition-duration: 0.2s;
}

input[type="radio"]:checked + .custom-radio {
  background: var(--black);
}
