.find-password {
  text-decoration: none;
  font-size: 0.875rem;
  color: var(--cyan);
  margin-left: auto;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.buttons > button {
  flex: 1;
}

.login-description {
  font-size: 0.875rem;
  color: var(--gray-700);
  margin-bottom: 28px;
}
