.find-password {
  text-decoration: none;
  font-size: 0.875rem;
  color: #2c3e50;
  margin-left: auto;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin: 1.25rem 0 1rem;
}

.buttons > button {
  flex: 1;
}
