.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rule-field {
  margin-left: 8px;
  font-size: 12px;
  color: #ff0000;
}

.find-password {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px !important;
  color: #2c3e50;
  margin-right: 5px;
}
