.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.summary-content {
  font-size: 0.75rem;
}

.input-button {
  height: inherit;
  padding: 0;
  width: 2.75rem;
  font-size: 0.75rem;
  line-height: 0.875rem;
  margin-left: 0.875rem;
}

.authenticated {
  font-size: 2rem;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  user-select: none;
}

.input-box {
  margin-bottom: 1.25rem;
}

.relative-box {
  position: relative;
}

.timer {
  color: var(--gray-008);
  font-size: 0.75rem;
  position: absolute;
  top: 0.25rem;
  right: 0;
}

.timer-time {
  display: inline-block;
  width: 2.5rem;
  text-align: right;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.buttons button {
  flex: 1;
}
