.content-wrapper {
  width: 100%;
  max-width: var(--pc-main-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  background-color: var(--white);

  color: var(--gray-004);
  cursor: default;
}

.active {
  color: var(--black);
  cursor: pointer;
}

.content-wrapper.active:hover {
  background-color: var(--gray-002);
  transition: 300ms ease-in-out;
}

.text-container {
  display: flex;
  gap: 0.875rem;
}

.title {
  font-size: 1.125rem;
  font-weight: bold;
  min-width: 10rem;
}

.date {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 0.5rem;
  color: var(--gray-008);
}

.icon {
  width: 1rem;
}

@media screen and (max-width: 513px) {
  .title {
    font-size: 1rem;
    min-width: 8rem;
  }
  .date {
    gap: 0.25rem;
    font-size: 0.6rem;
  }

  .icon {
    width: 1rem;
  }
}
