.content-wrapper {
  width: 100%;
  max-width: var(--pc-main-width);
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.3fr;
  align-items: center;
  padding: 1.5rem 1rem;

  background-color: var(--white);
  color: var(--gray-400);
  cursor: default;
}

.active {
  color: var(--black);
  cursor: pointer;
}

.content-wrapper.active:hover {
  background-color: var(--gray-200);
  transition: 300ms ease-in-out;
}

.title {
  font-size: 1.125rem;
  font-weight: bold;
}

.date {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: var(--gray-700);
}

.icon {
  width: 1rem;
}

@media screen and (max-width: 512px) {
  .title {
    font-size: 1rem;
  }

  .date {
    font-size: 0.8rem;
  }
}
