.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  margin: 0;
}

input[type="checkbox"]::before {
  content: "✓";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 1px solid #ced6e0;
  margin-right: 5px;
  background: #fff;
  transition-duration: 0.2s;
}

input[type="checkbox"]:checked::before {
  background: #0078ff;
  border: 1px solid #e2eaf4;
  color: #fff;
}
