.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  line-height: 20px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  margin-right: 8px;
}

input[type="checkbox"]::before {
  content: "✓";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 1px solid var(--gray-003);
  background: var(--white);
  transition-duration: 0.2s;
}

input[type="checkbox"]:checked::before {
  background: var(--black);
  color: var(--white);
}
