.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 1.25rem;
  position: relative;
}

input[type="checkbox"] {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
}

input[type="checkbox"] + .custom-checkbox::before {
  content: "\2713";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.375rem;
  border-radius: 1.5rem;
  border: 1px solid var(--gray-006);
  background: var(--white);
  transition-duration: 0.2s;
}

input[type="checkbox"]:checked + .custom-checkbox::before {
  background: var(--black);
  color: var(--white);
}
