.pending-container {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
}

.judgment-result-text {
  margin-bottom: 0.2rem;
  font-size: 1.125rem;
  font-weight: bold;
}

.judgment-result-score.pending {
  color: var(--blue);
}

.judgment-result-score.pass {
  color: var(--green);
}

.judgment-result-score.fail {
  color: var(--red);
}
