.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  background: var(--black-004);
  color: var(--white);
  user-select: none;
}

.content-wrapper {
  width: var(--pc-main-width);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.logo {
  height: 2rem;
}

.social {
  display: flex;
  align-items: center;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  color: var(--white);
  border: none;
  transition: all 0.2s ease;
}

.social a:hover {
  opacity: 0.6;
}

.social a::before {
  content: "";
  position: relative;
  left: -1rem;
  width: 1px;
  height: 1rem;
  background-color: var(--white);
}

.social a:last-child::after {
  content: "";
  position: relative;
  left: 1rem;
  width: 1px;
  height: 1rem;
  background-color: var(--white);
}

@media screen and (max-width: 800px) {
  .content-wrapper {
    width: 100%;
    margin: 0 0.5rem;
  }
}

@media screen and (max-width: 512px) {
  .logo {
    height: 1.5rem;
  }

  .copyright {
    font-size: 0.75rem;
  }
}
