.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.label-bold label {
  font-weight: bold;
}

.text-bold {
  font-weight: bold;
}

.text-field-container {
  margin-bottom: 30px;
}

.autosave-indicator {
  color: var(--blue);
}

.description-url {
  font-size: 16px;
  color: var(--gray-009);
}

.description-url-small {
  margin-top: 10px;
  font-size: 14px;
  color: var(--gray-008);
}

.description-agree {
  color: inherit;
  margin-top: 12px;
  margin-bottom: 17px;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 64px;
}

.buttons button {
  flex: 1;
}

@media screen and (max-width: 800px) {
  .recruit-card,
  .application-form {
    width: 100vw;
  }
}
