.divider {
  border: 0.5px solid var(--gray-300);
}

.content-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--pc-main-width);
  padding: 1.25rem 1.5rem 1rem;
  margin-bottom: 1.25rem;
  background-color: var(--white);
  border: 1px solid var(--gray-300);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  width: 100%;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.title-text {
  flex: 1;
}

ul.title-button-list {
  display: flex;
}

ul.title-button-list > li:not(:last-child) {
  margin-right: 0.4rem;
}

@media screen and (max-width: 800px) {
  .title-container {
    flex-direction: column;
    gap: 0.875rem;
  }

  ul.title-button-list > li {
    flex: 1;
  }

  ul.title-button-list > li > button {
    width: 100%;
  }
}
