.floating-wrapper {
  position: fixed;
  right: 24px;
  bottom: 24px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-left: 1rem;
  border-radius: 4.5rem;
  background-color: var(--white);
  box-shadow: 0 0 5px var(--gray-400);
  cursor: pointer;
}

.inquire-text {
  font-weight: 600;
  color: var(--black-400);
}

.kakao-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: var(--black-100);
}

@media screen and (max-width: 512px) {
  .inquire-text {
    display: none;
  }

  .floating-wrapper {
    padding-left: 0;
  }
}
