.tab-item-wrapper {
  width: fit-content;
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  white-space: nowrap;
}

.tab-item-wrapper:hover {
  font-weight: 600;
}

.checked {
  font-weight: 600;
  background-color: var(--blue-gray-100);
  border-radius: 50px;
}
