<meta charset="utf-8" xmlns:th="http://www.w3.org/1999/xhtml">
<div
        style="width: 100%;max-width: 512px;padding: 20px;margin: 15px;border-radius: 3px;background: #f1f2f6;box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);"
>
    <img
            src="https://woowacourse.github.io/img/logo_full_dark.26e30197.png"
            style="width: 200px"
            alt="logo"
    />
    <h3>이메일 인증 코드 입니다.</h3>
    <div>
        <br />
        <div style="text-align: center">
            <span th:text="${authenticationCode}"></span>
        </div>
    </div>
</div>
