<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <div
      style="width: 100%;max-width: 512px;padding: 20px;margin: 15px;border-radius: 3px;background: #f1f2f6;box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);"
    >
      <img src="https://woowacourse.github.io/img/logo_full_dark.26e30197.png" style="width: 200px" alt="logo">
      <h3>
        <span th:text="${name}">홍길동</span>님, 임시 비밀번호를 발송해
        드립니다.
      </h3>
      <div>
        <br />
        <div
          class="password-field"
          style="background-color: lightgray;padding: 25px;text-align: center;margin-bottom: 20px"
          th:text="${password}"
        >
          1q2w3e4r!-12345qb-q
        </div>
        <div style="text-align: center">
          <a th:href="${url}+'/recruits'" target="_blank">
            <button
              style="cursor: pointer;outline: none;border: 0;background: #0078ff;color: #fff;border-radius: 3px;padding: 10px;min-width:
80px; min-height: 28px; margin: 5px;"
            >
              내 지원서 보기
            </button>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
