<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <table
      class="root"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="
        font-family: sans-serif;
        color: #333333;
        padding: 0;
        font-size: 16px;
      "
    >
      <tr style="color: #333333; padding: 0; font-size: 16px">
        <td align="center" style="color: #333333; padding: 0; font-size: 16px">
          <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="600"
            style="color: #333333; padding: 0; font-size: 16px"
          >
            <tr style="color: #333333; padding: 0; font-size: 16px">
              <td
                id="header"
                height="0"
                style="height: 0; line-height: 0; padding: 0"
              >
                <img
                  th:src="${url}+'/assets/mail/header.jpg'"
                  alt="우아한테크코스 로고"
                  style="display: block; width: 600px; height: 193px"
                  width="600"
                  height="193"
                />
              </td>
            </tr>
            <tr style="color: #333333; padding: 0; font-size: 16px">
              <td id="body" style="color: #333333; padding: 0; font-size: 16px">
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  style="
                    width: 100%;
                    color: #333333;
                    padding: 0;
                    font-size: 16px;
                  "
                >
                  <tr style="color: #333333; padding: 0; font-size: 16px">
                    <td
                      id="title"
                      align="center"
                      style="
                        color: #333333;
                        padding: 0;
                        font-size: 24px;
                        font-weight: bold;
                        padding-top: 48px;
                      "
                    >
                      지원 완료
                    </td>
                  </tr>
                  <tr style="color: #333333; padding: 0; font-size: 16px">
                    <td
                      id="content"
                      style="
                        color: #333333;
                        width: 100%;
                        padding: 0;
                        font-size: 16px;
                        padding-top: 32px;
                        padding-bottom: 48px;
                        text-align: center;
                      "
                    >
                      안녕하세요. <span th:text="${name}"></span>님.
                      <br /><br />
                      우아한테크코스 <span th:text="${recruit}"></span> 지원이
                      완료되었습니다.<br />추후 진행 사항은 해당 이메일을 통해
                      안내됩니다. <br /><br />
                      감사합니다.
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr style="color: #333333; padding: 0; font-size: 16px">
              <td
                id="footer"
                style="
                  color: #333333;
                  padding: 0;
                  font-size: 16px;
                  border-top-width: 1px;
                  border-top-style: solid;
                  border-top-color: #cccccc;
                  padding-top: 16px;
                  padding-left: 8px;
                "
              >
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  style="color: #333333; padding: 0; font-size: 16px"
                >
                  <tr style="color: #333333; padding: 0; font-size: 16px">
                    <td
                      id="logo"
                      height="0"
                      style="
                        color: #666666;
                        font-size: 12px;
                        padding-bottom: 22px;
                        height: 0;
                        line-height: 0;
                      "
                    >
                      <img
                        th:src="${url}+'/assets/mail/footer_logo.png'"
                        alt="우아한테크코스 텍스트 로고"
                        style="display: block; width: 126px; height: 19px"
                        width="126"
                        height="19"
                      />
                    </td>
                  </tr>
                  <tr style="color: #333333; padding: 0; font-size: 16px">
                    <td
                      id="link"
                      style="
                        padding: 0;
                        color: #666666;
                        font-size: 12px;
                        padding-bottom: 28px;
                      "
                    >
                      <a
                        href="https://woowacourse.github.io/"
                        style="text-decoration: none"
                        >HOME</a
                      >&nbsp;|&nbsp;
                      <a
                        href="https://tecoble.techcourse.co.kr/"
                        style="text-decoration: none"
                        >BLOG</a
                      >&nbsp;|&nbsp;
                      <a
                        href="https://www.youtube.com/channel/UC-mOekGSesms0agFntnQang/featured"
                        style="text-decoration: none"
                        >YOUTUBE</a
                      >
                    </td>
                  </tr>
                  <tr style="color: #333333; padding: 0; font-size: 16px">
                    <td
                      id="copyright"
                      style="padding: 0; color: #666666; font-size: 12px"
                    >
                      Copyright 2021. 우아한테크코스. All rights reserved.
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
