.text-field {
  display: flex;
  flex-direction: column;
}

.length-limit {
  align-self: flex-end;
  color: #999999;
  font-size: 13px;
}

.rule-field {
  margin-left: 8px;
  height: 12px;
  font-size: 12px;
  color: #ff0000;
}
