* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Apple SD Gothic Neo", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #ced6e0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-view {
  flex: 1 0 auto;
}

button {
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 16px;
  border: 0;
  outline: 0;
}

button:active {
  background-color: #cccccc;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
