@charset "UTF-8";
@import "./color.css";

:root {
  --pc-main-width: 800px;
  --pc-main-width-narrow: 512px;

  --modal-window-z-index: 1000;
  --modal-portal-z-index: 990;
  --tooltip-z-index: 980;
  --tooltip-dimmed-z-index: 970;
  --header-z-index: 960;
  --nav-z-index: 950;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Apple SD Gothic Neo", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background: var(--light-blue-gray);
  color: var(--black-004);
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-size: 0.875rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  margin: 4.375rem auto;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
