:root {
  --gray-100: #fafafa;
  --gray-200: #eee;
  --gray-300: #ddd;
  --gray-400: #ccc;
  --gray-500: #aaa;
  --gray-600: #999;
  --gray-700: #666;
  --gray-800: #555;
  --gray-900: #333;
  --black: #000;
  --white: #fff;
  --light-blue-gray: #f5f5f5;
  --light-blue-green: #d5eaf1;
  --blue: #279cf6;
  --blue-gray: #5f7997;
  --red: #ff0000;
  --green: #0eaf7a;
  --cyan: #2c3e50;
  --dim: rgba(0, 0, 0, 0.4);
}
