:root {
  --gray-100: #fafafa;
  --gray-150: #f5f5f5;
  --gray-200: #eee;
  --gray-300: #ddd;
  --gray-400: #ccc;
  --gray-500: #aaa;
  --gray-600: #999;
  --gray-700: #666;
  --gray-800: #555;
  --gray-900: #333;
  --black: #000;
  --white: #fff;
  --blue-gray-100: #d5eaf1;
  --blue-gray-500: #5f7997;
  --blue: #279cf6;
  --red: #ff0000;
  --red-800: #fc5555;
  --green: #0eaf7a;
  --cyan: #2c3e50;
  --tint: rgba(0, 0, 0, 0.4);
}
