:root {
  --gray-001: #fafafa;
  --gray-002: #eee;
  --gray-003: #ddd;
  --gray-004: #ccc;
  --gray-005: #bbb;
  --gray-006: #aaa;
  --gray-007: #999;
  --gray-008: #666;
  --gray-009: #555;
  --black-001: #000;
  --black-004: #333;
  --white: #fff;
  --light-blue-gray: #f5f5f5;
  --light-blue-green: #d5eaf1;
  --blue: #279cf6;
  --blue-gray: #5f7997;
  --red: #ff0000;
  --green: #0eaf7a;
}
