:root {
  --gray-001: #fafafa;
  --gray-002: #eee;
  --gray-003: #ddd;
  --gray-004: #ccc;
  --gray-005: #bbb;
  --gray-006: #aaa;
  --gray-007: #999;
  --gray-008: #666;
  --gray-009: #555;
  --black: #333;
  --white: #fff;
  --light-blue-gray: #f1f2f6;
  --blue: #279cf6;
}
