.box {
  display: flex;
  margin-top: 3rem;
}

.illust-box {
  flex: 1;
  padding: 1.5rem;
  user-select: none;
}

.input-box {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 1.25rem;
}

.buttons {
  margin: 2rem 0;
  display: flex;
  gap: 1rem;
}

.buttons button {
  flex: 1;
}

@media screen and (max-width: 512px) {
  .illust-box {
    display: none;
  }
}
