.text-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.25rem;
}

.length-limit {
  align-self: flex-end;
  color: var(--gray-007);
  font-size: 0.875rem;
}

.rule-field {
  margin-left: 0.5rem;
  height: 0.75rem;
  font-size: 0.75rem;
  color: #ff0000;
}

.description {
  margin-bottom: 1.125rem;
}
