.box {
  display: flex;
  margin-top: 3rem;
}

.illust-box {
  flex: 1;
  padding: 1.5rem;
  user-select: none;
}

.info-box {
  flex: 3;
}

.info {
  margin: 1.625rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.info-title {
  flex: 1;
  color: var(--gray-007);
  text-align: right;
  padding: 0.5rem 0;
}

.info-data {
  flex: 5;
  border-bottom: 1px solid var(--gray-006);
  padding: 0.5rem;
}

.buttons {
  margin-top: 3.5rem;
  display: flex;
  gap: 1rem;
}

.buttons button {
  flex: 1;
}

@media screen and (max-width: 512px) {
  .illust-box {
    display: none;
  }
}
