.base-item {
  margin-right: 10px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.period {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
  border-radius: 5px;
  text-align: center;
}

.date {
  display: flex;
}

.start {
  padding-left: 5px;
}

.between {
  display: flex;
  align-items: center;
}

.between::before {
  content: "~";
  padding: 0 5px;
}
