.box {
  margin-bottom: 1.25rem;
}

.text-field {
  display: flex;
  flex-direction: column;
}

.length-limit {
  align-self: flex-end;
  color: var(--gray-007);
  font-size: 13px;
  margin-bottom: 4px;
}

.rule-field {
  margin-left: 8px;
  margin-bottom: 10px;
  height: 12px;
  font-size: 12px;
  color: #ff0000;
}
