.button {
  border-radius: 0.25rem;
  padding: 0.5rem 1.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  user-select: none;
}

.contained {
  background-color: var(--gray-900);
  color: var(--white);
}

.outlined {
  color: var(--gray-900);
  background-color: var(--white);
  border: 1px solid var(--gray-900);
}

.outlined:enabled:hover {
  background-color: var(--gray-100);
}

.contained {
  background-color: var(--gray-900);
  color: var(--white);
}

.danger {
  background-color: var(--red-800);
}

.cancel {
  background: var(--gray-700);
}

button:disabled {
  cursor: default;
  background: var(--gray-400);
  cursor: not-allowed;
}
