.button {
  border-radius: 0.25rem;
  padding: 0.5rem 1.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  user-select: none;
}

.contained {
  background-color: var(--black);
  color: var(--white);
}

.outlined {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--black);
}

.outlined:enabled:hover {
  background-color: var(--gray-001);
}

.contained {
  background-color: var(--black);
  color: var(--white);
}

.cancel {
  background: var(--gray-008);
}

button:disabled {
  cursor: default;
  background: var(--gray-004);
  cursor: not-allowed;
}
