.button {
  background: var(--black);
  color: var(--white);
  border-radius: 0.25rem;
  padding: 0.5rem 1.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button.cancel {
  background: var(--gray-007);
}

.button:disabled {
  cursor: default;
  background: var(--gray-004);
}
